.low-opacity-bg-image {
  --bg-image: url(https://i.ibb.co/8gJPm0t/fondo-papel-pegado-textura-angustiada.jpg);
  --bg-image-opacity: ;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  isolation: isolate;
}

.low-opacity-bg-image::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-size: 100%;
}